/* MyPlugin - Custom Login Styles */

body.login { background-color: mediumpurple; }

body.login div#login form#loginform { border-radius: 50px; }
body.login .custom-message { text-align: center; }


body.login div#login h1 a {
    background-image: url("../../img/profile.png");
}

